<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/styles.css"/>
  <title>Notes Index</title>
</head>
<body>
  <a href="/notes/new">Add Note</a>
  <h1>All Notes</h1>
  <ul>
    <% notes.forEach((note) => { %>
      <li>
        <a href="/notes/<%=note._id%>">
          <%= note.text %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>